<%= render 'shared/error_messages' %>
<div class="contentSignup">
	<div class="pageSignup">
        	<%= form_for(@user) do |f| %>
            	<fieldset>
                    <div class="styleLabel fLeft">
                        <p><label for="first name">First Name</label></p>
                        <p><label for="last name">Last Name</label></p>
                        <p><label for="organization">Organization Name</label></p>
                        <p><label for="email">Email</label></p>
                        <p><label for="password">Password</label></p>
                        <p><label for="repeat password">Repeat Password</label></p>
                    </div>
                    <div class="styleTextbox fLeft">
                        <p><%= f.text_field :first_name, :class => "styleInput" %></p>
                        <p><%= f.text_field :last_name, :class => "styleInput" %></p>
                        <p><%= f.text_field :name,:class => "styleInput" %></p>
                        <p><%= f.text_field :email,:class => "styleInput",:readonly=>"true" %></p>
                        <p><%= f.password_field :password, :class => "styleInput" %></p>
                        <p><%= f.password_field :password_confirmation, :class => "styleInput" %></p>
                        <p><%= f.submit "", class: "done" %></p>
                   </div>
                </fieldset>
                <input type="hidden" name="token" id="token" value="<%= @token%>">
            <% end %>
     </div>

</div><!--header -->