<p id="notice"><%= notice %></p>

<p>
  <b>Fist Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Orgization Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<%= link_to 'Edit', edit_user_path(@post) %> |
<%= link_to 'Back', users_path %>