<div class="colLeft251 fLeft">
	<div class="headTop borderBottom <%= @acitve_dashboard %>"><%= link_to 'Dashboard', '/dashboard',{:title=>"Dashboard"} %></div>
	<div class="hoverLink borderBottom <%= @acitve_edit_user%>"><%= link_to 'Add / Edit User', receivers_path,{:title=>"Add / Edit User"} %></div>
	<div class="hoverLink borderBottom <%= @acitve_submit_question %>"><a href="#" title="Submit Question">Submit Question</a></div>
	<div class="hoverLink1 footerLink<%= @active_buttom %>"><a href="#" title="Contact Us">Contact Us</a></div>
</div><!-- end colleft -->