<p>Question:  <span class="question"><%= @survey.num_question %></span></p>
<p>Date: <span class="dateShow"><%= @survey.date %></span></p>
<p>Responses: <span class="responses"><%= @survey.responses %></span></p>
<p>%Responses: <span class="percentResponses"><%= @survey.percent_responses %></span></p>
<p>Vs Other Companies: <span class="otherCompanies"><%= @survey.vs_other_companies %></span></p>
<p>Add Note: <span class="addNote"><%= @survey.add_note %></span></p>