<div class="footer">
	<div class="footerTop">
	    <div class="textFooter fLeft">
	        <p>Companies that use 
	              TINY pulse to increase
	              employee happiness 
	              and retention.</p>
	     </div>
	    <div class="footerMid fLeft">
	    	<%= link_to image_tag("logoYoo.jpg", :size => "162x38", :alt => "YOOGI'S CLOSET"), "#"%>
	    	<%= link_to image_tag("logobuddyTV.jpg", :size => "145x50", :alt => "buddy TV"), "#"%>
	    	<%= link_to image_tag("logoVinasource.jpg", :size => "129x30", :alt => "VINASOURCE"), "#"%>
	    	<%= link_to image_tag("logojudyBook.jpg", :size => "125x38", :alt => "judy's book"), "#"%>
	    	<%= link_to image_tag("logoWhite.jpg", :size => "96x44", :alt => "white pages"), "#"%>
	    	<%= link_to image_tag("logoGuidant.jpg", :size => "99x44", :alt => "guidant finacial"), "#"%>
	    </div>
	</div>
</div>